
body{
  background-image: url(../image/blue.bmp);
  margin:0;
height:0px
}
h1{
  color:red;
  text-align:center;

}

h1:hover{
  border-style: solid;
}.liste a{
  text-decoration:none;

  color:white;
}

.photo{
  float:left;
  width: 30%;
  background-color:cadetblue;
  height:900px;
}

.centre{
  float:left;
  width:70%;
  height:900px;
  background-color:cadetblue;
 
}

h2:hover{
   text-decoration: underline;
}
 .liste p{
   margin-right:10px;
  display:inline;
}
.liste{
  height:50px;
  color:white;
  background-color:black;
  text-align:center;
}
.contact{
  text-align:center;
}
#cont{
  color:red;
}
footer{
  text-align:center;
  background-color:black;
  color:white;
}
.rond{
  height:30px;
}
.map{
  height:250px;
  width:300px;
  
}
p,td,tr,b,span,a{
  font-size:18px;
}
a{
  text-decoration:none;
 
  color:blue;
}