
body{
  background-image: url(../image/blue.bmp);
  margin:0;
height:0px
}
h1{
  color:red;
  text-align:center;
  
}
h1:hover{
  border-style: solid;
}
h2:hover{
   text-decoration: underline;
}
 .liste p{
   margin-right:10px;
  display:inline;
}

.liste{
  height:50px;
  color:white;
  background-color:black;
  text-align:center;
}

.Film img{
    height:200px;
  width:200px;
}
.jeux img{
    height:200px;
  width:200px;
}
.Livres img{
    height:200px;
  width:200px;
}
.liste a{
  text-decoration:none;
  
  color:white;
}
.Film{
  float:left;
  width:33%;
  border-style:solid;
  
  margin-top:-22px;
}

.jeux{
  border-style:solid;
  width:33%;
  float:right;
  margin-top:-2737px;
 
}
.Livres{
  margin-left:700px;
}
#gal{
  color:red;
}
footer{
  text-align:center;
  background-color:black;
  color:white;
}
.rond{
  height:30px;
}
.map{
  height:250px;
  width:300px;
}
ul{
  list-style:none;

}
p,td,tr,b,span,a{
  font-size:18px;
}