
body{
  background-image: url(../image/blue.bmp);
  height:0px;
    margin:0;
}
h1{
  color:red;
  text-align:center;
  
}
h1:hover{
  border-style: solid;
}
h2:hover{
   text-decoration: underline;
}
 .liste p{
   margin-right:10px;
  display:inline;
}

.liste{
  height:50px;
  color:white;
  background-color:black;
  text-align:center;
}
img {
  height:100px;
  
 
}
.liste a{
  text-decoration:none;
  
  color:white;
}
 th{
  border: 1px solid black;
}
table
{
    border-collapse: collapse; 
}
td
{
    border: 1px solid black;
}
tr{
  background-color:cadetblue;
}
caption{
  background-color:yellow;
}
#rea{
  color:red;
}
footer{
  text-align:center;
  background-color:black;
  color:white;
     height:119px
}
.rond{
  height:30px;
}
.map{
  height:250px;
  width:300px;
}
td img{
  width:130px
}
p,td,tr,b,span,a{
  font-size:18px;
}
a{
  text-decoration:none;
 
  color:blue;
}