
body{
  background-image: url(../image/blue.bmp);
margin:0;
height:0px
}
.liste a{
  text-decoration:none;
  
  color:white;
  font-size:18px;
}
h1{
  color:red;
  text-align:center;
  
}

h1:hover{
  border-style: solid;
}
h2:hover{
   text-decoration: underline;
  color:red;
}
 .liste p{
   margin-right:10px;
  display:inline;
}
.liste{
  height:50px;
  color:white;
  background-color:black;
  text-align:center;
}
h2{
  text-align:center;
}
.gauche{
  float:left;
  width:50%;
}

.droite{
  width:50%;
  float:right;
}
.premier {
  border-top: 5px solid black;
  background-color:Teal;

}
.premier img{
   height:350px;
  width:300px;
}
.gauche img{
  margin-left:50px
}
.gauche p{
   float:right;
  width:45%;
  margin-top:-300px;
  margin-right:5px;
  
}




.deuxieme{
border-top:5px solid black;
background-color: Cadetblue;
  }
.deuxieme img{
   height:350px;
  width:300px;
}

.trois{
  border-top:5px solid black;
  background-color:Teal;
}
.trois img{
   height:350px;
  width:300px;
}


.quatre{
  border-top:5px solid black;
background-color: Cadetblue;
}
.quatre img{
   height:350px;
  width:300px;
}
.droite p{
  float:right;
  width:45%;
  margin-top:-300px;
  margin-right:5px;
}

.droite img{
  margin-left:50px
}
.cinq{
   border-top:5px solid black;
  background-color:Teal;
}
.cinq img{
   height:350px;
  width:300px;
}
.six{
   border-top:5px solid black;
background-color: Cadetblue;
}
.six img{
   height:350px;
  width:300px;
}
#sport{
  color:red;
}
footer{
  text-align:center;
  background-color:black;
  color:white;
}
.rond{
  height:30px;
}
.map{
  height:250px;
  width:300px;
}

a{
  text-decoration:none;
 
  color:blue;
}

